[user]
	name = Ahmet Alp Balkan
	email = ahmetb@google.com
	# signingkey = D6B55F79FA3E5337008D6EBD07BA366BF4164719
	name = Ahmet Alp Balkan
	email = ahmetalpbalkan@gmail.com

[gpg]
	program = gpg

[core]
	pager = delta
	editor = vim
	excludesfile = /Users/ahmet/.gitignore_global

[interactive]
	diffFilter = delta --color-only --width 100
[diff]
	colorMoved = default
	renames = true

[delta]
	features = line-numbers decorations
	whitespace-error-style = 22 reverse

[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
[sequence]
	editor = interactive-rebase-tool

[pull]
	ff = only
[init]
	defaultBranch = main

# [credential]
# 	helper = osxkeychain
[url "git@github.com:"]
	pushInsteadOf = https://github.com/

[log]
    date = iso-local
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
[http]
	postBuffer = 524288000
[credential "https://github.com"]
	helper = !/usr/local/bin/gh auth git-credential
[commit]
	# template = /Users/ahmet/.arc-commit-template.txt
