[user]
	# signingkey = D6B55F79FA3E5337008D6EBD07BA366BF4164719
	name = Ahmet Alp Balkan
	email = ahmet@linkedin.com

[gpg]
	program = gpg
	format = x509

[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = vim
	excludesfile = /home/ahmetb/.gitignore_global

[interactive]
	diffFilter = delta --color-only --width 100
[diff]
	colorMoved = default
	renames = true

[delta]
	features = line-numbers decorations
	whitespace-error-style = 22 reverse

[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
[sequence]
	editor = interactive-rebase-tool

[pull]
	ff = only
[init]
	defaultBranch = main

# [credential]
# 	helper = osxkeychain
#[url "git@github.com:"]
#	pushInsteadOf = https://github.com/

[log]
    date = iso-local
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
[http]
	postBuffer = 524288000
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "ssh://github.com"]
	helper = !gh auth git-credential
[commit]
	# gpgsign = true
[tag]
	# gpgsign = true
[gpg "x509"]
	program = gitsign
